* {
  padding: 0;
  margin: 0;
  
}

body {
  font-family: Verdana;
}

a {
    text-decoration: none;
}

.navbar {
  position: relative;
  padding: 10px 40px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.navbar-left, .navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #000000;
  font-size: 24px;
}

.btn-upload {
  margin-left: 20px;
  background-color: #efefef;
  color: #000000;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 0.9em;
}

.navbar-mobile {
  display: none;
}

.navbar-desktop {
  display: block;
}

.navbar-desktop a {
  color: #000000;
  margin: 0 10px;
  transition: 0.3s all;
}

.navbar-desktop a:hover {
  color: #161616;
}

.dropdown-mobile {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%; 
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 2px 0;
}

.dropdown-mobile a {
  display: block;
  padding: 10px 20px;
  color: #000000;
}

.dropdown-mobile a:hover {
  background-color: #efefef;
}

/* content */
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0px 50px 40px;
}

.content {
  padding-top: 20%;
}

.content p {
  margin-top: 10px;
}

.input-btn-container {
  margin-top: 50px;
}

.input-btn {
  background-color: #000000;
  padding: 10px 30px;
  text-align: center;
  border-radius: 10px;
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1.05em;
  transition: 0.3s background-color;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.input-btn:hover {
  background-color: gray;
  
}

/* page result */ 
.result-container {
  padding: 40px 20px;
  max-width: 100%;
}

#videoPlayer {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
    .spinner {
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-left-color: #7983ff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
      margin: 100px auto;
    }

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }

/* page not found  dan video ora ketemu*/
.container-nf {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found {
  text-align: center;
}

.not-found h1 {
  font-size: 50px;
  margin-bottom: 5px;
}

.not-found p {
  margin-bottom: 30px;
}

/* page artikel*/
.container-article {
  padding: 10px 20px;
}

.article-title {
  padding-bottom: 20px;
}

.container-article p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.container-article ol {
  list-style-type: decimal;
  margin-left: 20px;
  margin-bottom: 20px;
}

.container-article ol li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.container-article ol li:last-child {
  margin-bottom: 0;
}
/* responsive untuk mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }
  
  .navbar-desktop {
    display: none;
  }
  
  .navbar-mobile {
    display: block;
  }
}
